@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$MainBrandColor :#0977BE;
$MainBlueColor :#005BAF;
$MainSeblueColor: '#1E95DD';
$MainGreenColor :#08A524;
$MainRedColor :#F7DE06;
$MainYellowColor :#FF8017;
$MainOrangeColor :#F63C52;

@mixin font-weight-light {
    font-weight: 500;
}

@mixin font-weight-normal {
    font-weight: 700;
}

@mixin font-weight-upnormal {
    font-weight: 700;
}

@mixin font-big-large {
    font-size: 41px;
}
@mixin font-very-large {
    font-size: 26px;
}
@mixin font-large {
    font-size: 20px;
}
@mixin font-medium {
    font-size: 16px;
}
@mixin font-semi-medium {
    font-size: 13.5px;
}
@mixin font-small {
    font-size: 12px;
}
@mixin font-very-small {
    font-size: 10px;
}


@mixin border-radius-large {
    font-size: 20px;
}
@mixin border-radius-medium {
    font-size: 16px;
}
@mixin border-radius-small {
    font-size: 12px;
}