@import './variabel';

body {
    font-family: 'Montserrat';
}


.container-xl {
    width: 1220px;
   
}
    .main-logo {
        height: 25px;
    }
    .search-logo {
        height: 14px;
    }
    .fav-logo {
        max-height: fit-content;
        img{
            width: 18px;
            height: 19px;
        }
    }
    .search-input {
        height: 36px;
        input {
            border-radius: 5px 0 0 5px !important;
            width: 727px !important;
            padding: 10px 0 10px 14px;
        }
        input::-webkit-input-placeholder {
            font-size: 11px;
            line-height: 13px;
          } 
    }
    .btn-auth {
        height: 36px;
        width: 87px;
    }


.main-menu {
    .menu {
        margin-bottom: 14px;
        .path-logo {
            width: 10px;
        }
    }
    .list-menu {
        div {
            @include font-semi-medium;
            @include font-weight-light;

        }
    }
    .slider-kiri {
        top: 50%;
        left: 0;
        margin-left: -30px;
    }
    .slider-kanan {
        top: 50%;
        right: 0;
        margin-right: -30px;
    }
    .sub-banner {
        img[alt=subbanner] {
            height: 109px;
        }
    }
    .title-section {
        @include font-very-large;
        @include font-weight-upnormal;
        img {
            width: 32px;
        }
    }
    .countdown {
        @include font-weight-light;
        @include font-medium;
        img {
            width: 14px;
        }
        .time {
            @include border-radius-small;
            padding: 6.5px 9px;
            letter-spacing: 6px;
        }
    }
    .card {
        max-width: 230px;
        height: 262px;
        p {
            margin: 0;
        }
        img {
            height: 98px;
        }
        .academi-text {
            font-size: 10px;
            margin-bottom: 6px;
        }
        .title-card {
            margin-bottom: 10px;
        }
        .rating {
            @include font-very-small;
            margin-bottom: 14px;
            img {
               width: 10px;
               height: 10px;
           } 
           span {
               line-height: 10px;
            }
        }
        .diskon {
            margin-bottom: 8.5px;
            .nominal {
                @include font-very-small;
                text-decoration: line-through;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .space {
        padding: 10px 17px !important;
    }
    .container-xl {
        max-width: 327px !important;
        
        justify-content: start !important;
    }

        .main-logo {
            height: 25px;
            margin-right: 0;
            width: 117px;
        }
        .search-logo {
            height: 10px;
        }
        .fav-logo {
            margin-left: 56px;
            margin-right: 15px;
        }
        .search-input {
            height: 36px;
            margin-top: 14px;
            input {
                border-radius:0 5px 5px 0 !important;
                width: 308px !important;
                height: 32px;
                padding: 5px 0 5px 14px;
             
            }
            input::-webkit-input-placeholder {
                vertical-align: middle !important;
                @include font-very-small;
                line-height: 24px;
              } 
              span {
                height: 32px;
                width: 24px;
                padding: 0 0  0 10px ;
                border: none;
              }
        }
        .btn-auth {
            height: 25px;
            width: 55px;
            @include font-very-small;
            padding: 0;
        }
    
    .main-menu {
        height: 43px;
        height: 43px;
        margin: 14px 14px 0 14px;
        .menu {
            max-height: 16px ;
            .path-logo {
                width: 10px;
            }
        }
        .list-menu {
            div {
                @include font-semi-medium;
                @include font-weight-light;
    
            }
        }
        .main-banner {
            height: 255px;
        }
        .slider-kiri {
            top: 50%;
            left: 0;
            margin-left: -10px;
            width: 32px;
        }
        .slider-kanan {
            top: 50%;
            right: 0;
            margin-right: -10px;
            width: 32px !important;
      
        }
        .sub-banner {
            img[alt=subbanner] {
                height: 109px;
            }

        }
        .title-section {
            @include font-large;
            @include font-weight-upnormal;
            img {
                width: 32px;
            }
        }
        .card {
            .card-body {
                width: 231px;

            }
        }
        .countdown {
            @include font-weight-light;
            @include font-small;
            img {
                width: 14px;
            }
            .time {
                @include font-very-small;
                @include border-radius-small;
                padding: 4px;
                
                letter-spacing: 6px;
            }
        }
    }
  }